<%= form_with(model: [tweet, Comment.new], local: true, class: "comment-form") do |f| %>

  
  <div>
    <%= f.text_area :content, rows: 3, placeholder: "コメントを入力...", required: true %>
  </div>
  <div>
    <%= f.submit "送信", class: "btn-submit" %>
  </div>
<% end %>





